/**
*
* Web Chat CSS Reset
* Web Chat Styles
*
*/

#chat-view-box,
#campaign-topic-message,
#messages-topic-message {
    border-radius: 22px;
    background: #F5F5F5;
    padding: 10px;
    border: 1px solid #e1e1e1;
    max-width: 680px;
    width: 100%;
    margin: 25px auto;
}

#chat-view-box * {
    line-height: 120%;
}

#chat-view-box .ui.modal > .content {
    box-sizing: border-box !important;
}

#chat-view-box .ui.form {
    font-weight: normal;
    padding: 0;
}

#chat-view-box .ui.form .grouped.fields {
    margin: 0em 0em 1em;
}

#chat-view-box button {
    line-height: 80%;
}

#chat-view-box i.circular.icon {
    padding: 0.5em 0.5em !important;
    width: 1em !important;
    height: 1em !important;
}

#chat-view-box *,
#chat-view-box *:before,
#chat-view-box *:after {
    box-sizing: content-box !important;
}

#chat-view-box .sending-email label:before {
    box-sizing: border-box !important;
}

#chat-view-box .chat-box {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

#chat-view-box p {
    font-size: 14px;
    padding: 5px 0 0;
    margin: 0;
}

#chat-view-box .attachment,
#chat-view-box .attach {
    padding: 0 0 10px 0;
}

#chat-view-box pre.message,
.message strong, .message em,
.message u {
    padding: 0 5px 0;
    font-family: Arial;
    overflow: hidden;
    width: 87%;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#chat-view-box .sending-email {
    position: relative;
    left: 20px;
    clear: both;
}

#chat-view-box .email-recipients {
    margin: 0 30px 0;
    display: none;
}

#chat-view-box .attached-files {
    width: 78%;
    padding: 10px 0;
}

#chat-view-box .attached-files .file {
    position: relative;
    top: 15px;
    left: 5px;
    margin-right: 10px;
}

#chat-view-box .file-group {
    height: 25px;
}

#chat-view-box .file-group a {
    width: 4%;
    float: left;
    margin-top: 3px;
}

#chat-view-box .file-group input {
    width: 96%;
    float: right;
}

#chat-view-box .checkbox,
#chat-view-box .radio {
    background: none;
    width: 100%;
    float: none;
    margin: 0;
    height: 0;
}

#chat-view-box .attach-form-only input {
    width: 92%;
}

#chat-view-box .sending-sms {
    margin: 0 0 10px 20px;
}

.email-recipients .checkbox {
    display: block !important;
}

.chat-box .ajax-loader {
    width: 80px;
    margin: 30px auto 0;
}

.chat-box .sending-message-loader {
    position: absolute;
    margin-left: 240px;
    margin-top: 10px;
    z-index: 9999;
}

.chat-box .editing-message-loader {
    position: absolute;
    margin-left: 330px;
    margin-top: 20px;
    z-index: 9999;
}

.new-topic .sending-message-loader {
    position: absolute;
    z-index: 9999;
    margin-left: 292px;
    margin-top: 40px;
}

.chat-center {
    text-align: center;
}

.chat-left {
    float: left;
}

.chat-right {
    float: right;
}
.clear {
    clear: both;
    display: block;
}

.visible {
    visibility: visible !important;
}

.hidden {
    visibility: hidden;
}

.hide {
    display: none;
}

#chat-view-box ul {
    padding: 0 10px 10px 10px;
}

#chat-view-box textarea.topic-message,
#chat-view-box textarea.reply-message-one,
#chat-view-box textarea.chat-message {
    padding: 0 5px 0;
}

#chat-view-box > .message-count {
    position: relative;
    top: 0;
    left: -10px;
}

#chat-view-box hr {
    padding: 0;
    margin: 0;
}

.editing {
    border: #C1D0F0 solid 2px;
}

#chat-view-box a:focus, .sent-button:focus,
.topic-reply-button:focus, .message:focus,
div[class*=message-reply].div-group textarea,
.topic-reply-box textarea, .send-reply-one:focus,
button.send-chat:focus {
    outline: none;
}

li[class*=client-user],
li[class*=agent-user] {
    padding: 8px 0 0 0;
}

li[class*=client-user] .date-created,
li[class*=agent-user] .date-created,
li[class*=client-user] .toggle-reply,
li[class*=agent-user] .toggle-reply {
    padding: 10px 15px;
    font-size: 13px;
    color: #0ab6f0;
}

.topic-reply-box,
div[class*=message-reply].div-group {
    margin: 10px 0 0;
    width: 81%;
    float: right;
    background: white;
    padding: 10px;
    border-radius: 18px;
    border: 1px solid #e1e1e1;
}

div[class*=message-reply].div-group {
    margin: -10px 0 0 4% !important
}

.topic-reply-box textarea, .under-li textarea,
div[class*=message-reply].div-group textarea {
    border: none;
    background: white !important;
    width: 87%;
    padding: 0 5px 0;
    overflow: hidden;
}

.topic-reply-box textarea {
    width: 87%;
}

.parent {
    margin: 0 0 25px;
}

li.parent textarea {
    width: 96%;
}

.li-group textarea {
    width: 87%;
}

li[class*=message-reply] {
    margin: 0 0 0 4% !important;
}

.date {
    margin: 0 !important;
}

.picture {
    padding: 0 0 3px 10px;
    margin: 0;
}

.name {
    position: relative;
    top: 0;
    width: 11%;
    word-wrap: break-word;
}

.picture img {
    border-radius: 28px;
    width: 50px;
}

.message-options {
    float: right;
    width: 85%;
}

.message-options .buttons {
    float: right;
    margin: 10px 0 0 0;
    /*position: absolute;*/
    bottom: 10px;
    right: 10px;
}

.buttons i {
    background: #e1e1e1;
}

.add-file i {
    color: #00ace4;
}

.date-created,
.message-count {
    color: #777777 !important;
    font-size: 12px !important;
    font-family: Arial;
}

.message-count {
    color: #777777 !important;
    padding: 10px 0 !important;
}

.sent-button, button.topic-reply-button,
button.send-reply-one, button.send-chat {
    position: relative;
    right: 0;
    padding: 16px !important;
    border-radius: 76px;
    cursor: pointer;
    background: #a4cd34;
    border: 1px solid #a4cd34;
    float: right;
}

.new-topic {
    margin: 1px 10px 0;
    width: 93%;
}

.new-topic textarea {
    min-height: 135px;
    height: 50px;
}

.buttons .cancel-reply-own,
.buttons .cancel-reply {
    -webkit-box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1) inset;
    background: #e1e1e1;
    padding: 8px 8px 8px 1px;
    border-radius: 15px;
}

.buttons .cancel-reply-own i,
.buttons .cancel-reply i {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.new-topic button {
    position: relative;
}

.new-topic button.top {
    top: 81px !important;
}

.topic-reply-button.top,
.send-reply-one.top {
    position: relative;
    top: 0 !important;
}

.topic-reply-button.top img,
.send-reply-one.top img,
.send-chat.top img {
    width: 20px;
    height: 20px;
}

.topic-message, .chat-message,
.reply-message-one {
    overflow: hidden;
}

.chat-box .zero-messages {
    font-size: 16px;
    margin: 30px 38px 14px;
    padding: 10px 0;
    background: #F5F5F5;
}

.pop-up div.chat-bubble {
    border: #fe9a76 solid 1px;
}

.pop-up div.chat-bubble:before {
    border-color: transparent #fe9a76;
}

.pop-up pre.message {
    color: #fe9a76;
}

.pop-up p.picture img {
    /*border: 1px solid #fe9a76 !important;*/
}

.pop-up .user-info span {
    color: #fe9a76 !important;
}
.toggle-reply {
    margin: 0 12%;
}
.toggle-label,
.message_edited {
    color: #0ab6f0 !important;
}

.message_edited {
    margin: 0 5px 0 0;
}

.toggle-label:hover {
    text-decoration: underline;
    cursor: pointer;
}

.count_unread {
    color: #fe9a76 !important;
}

.count_unread:hover {
    cursor: default;
}

.date-created:hover {
    cursor: pointer;
}

.edit_comment .title {
    width: 98%;
    margin: 10px 0;
}

/* Web Chat Speech Bubbles */
.client-user .chat-bubble {
    background: #ffffff;
    border: #0ab6f0 solid 1px;
}

.client-user .picture img {
    /*border: 1px solid #0ab6f0 !important;*/
}

.client-user .chat-bubble:after {
    border-color: transparent #FFFFFF;
}

.client-user .chat-bubble:before {
    border-color: transparent #0ab6f0;
}


.agent-user .picture img {
    /*border: 1px solid #afd34e !important;*/
}

.chat-bubble {
    position: relative;
    padding: 10px;
    background: #ffffff;
    border: #afd34e solid 1px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

.chat-bubble:after {
    content: "";
    position: absolute;
    top: 22px;
    left: -10px;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
}

.chat-bubble:before {
    content: "";
    position: absolute;
    top: 22px;
    left: -11px;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #afd34e;
    display: block;
    width: 0;
    z-index: 0;
}

/* Works only in Mozilla Firefox Browser */
/* Resetting default Mozilla Firefox Browser CSS codes */
#chat-view-box button {
    padding-inline-end: 15.5px !important;
    padding-inline-start: 15.5px !important;
}


/* for messages using WYSIWYG */
.message em {
    font-style: italic;
}

.message u {
    padding: 0;
}

.message ul {
    padding: 0 10px 10px 40px !important;
}

#chat-view-box .message ol {
    list-style: decimal;
}

#chat-view-box .message ul {
    list-style: disc;
}

.view-box {
    top: 20% !important;
    text-align: center !important;
    background-color: transparent !important;
    border: 0 !important;
    padding: 0;
    width: 100% !important;
    margin-left: -50% !important;
}

.view-box .content {
    background-color: transparent !important;
    display: table !important;
}

.view-box .content img {
    padding: 10px;
    background: aliceblue;
    /*max-width: 768px;*/
    display: initial !important;
}